.ProfileGamerStats{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.ProfileGamerStats>div:nth-of-type(1){
    display: flex;
    justify-content: center;
    gap:1rem;
    width: 100%;
    flex-wrap: wrap;
}
.ProfileGamerStats>div:nth-of-type(1)>div{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap:1rem;
    background:var(--gradient-background-color-2-0) ;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-weight: 300;
    width: 30%;
}
.ProfileGamerStats>div:nth-of-type(1)>div>div{
    display: flex;
    justify-content: space-between;
}

.ProfileGamerStats>div>div>svg{
    align-self: flex-end;
}

.ProfileGamerStats>div:nth-of-type(1)>div>div>span:nth-of-type(2){
    color:var(--username-text-color);
}

.ProfileGamerStats>form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
}

/* mobile styling */

@media (max-width:600px){
    .ProfileGamerStats>div:nth-of-type(1){
        flex-direction: column;
    }
    .ProfileGamerStats>div:nth-of-type(1)>div{
        width: 100%;
    }
}