.Profile{
    display: flex;
    flex-direction: column;
}
.profile-card{
    background:#36E07F linear-gradient( #079e48a5, #272528a9) no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-card>img{
    margin-top:4rem ;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid white ;
}
.profile-card>h2{
    font-size: 2rem;
    line-height: 1.8rem;
}
.profile-card>span{
    font-size: 1.6rem;
}
.profile-card>p{
    text-align: center;
    
}
.profile-card>div{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.follow-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.follow-wrapper>span:nth-of-type(1){
    font-weight: 700;

}
.follow-wrapper>span:nth-of-type(2){
    font-weight: 500;
    font-size: .8rem;
}
.follower-line{
    width: 2px;
    background-color: var(--text-color);
    border-radius: 40px;
    opacity: .8;
    height: 70%;
    align-self: center;
}
.profile-card>button{
    background-color: #36E07F;
    color: var(--text-color);
    border: 1px solid #36E07F;
    border-radius: 3px;
    padding: .3rem;
    font-weight: 700;
    transition: all .3s;
}
.profile-card>button:hover{
    background-color: transparent;
}
.Profile>div:nth-of-type(2){
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: 3rem;
    border-bottom:2px solid white;
}
.Profile>div:nth-of-type(2)>a{
    color: white;
    transition: all .3s;
}
.Profile>div:nth-of-type(2)>.active{
    position: relative;
    color: #36E07F ;
    transition: all .3s ease-in-out;
    
}
.Profile>div:nth-of-type(2)>.active::after{
    position: absolute;
    content: " ";
    width: 100%;
    left: 0%;
    top: 2rem;
    height: .3rem;
    border-radius: 5px 5px 0 0;
    background: var(--gradient-background-color-2-0);
}

@media (min-width:451px) and (max-width:850px) {
    
    .Profile>div:nth-of-type(2){
        width: 90%;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 2rem;
    }
    
}
@media (max-width:450px){
    .Profile>div:nth-of-type(2){
        width: 95%;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 2rem;
        scrollbar-width: none;
        
    }
    .Profile>div:nth-of-type(2)>a{
        width: 200px;
    }
}