.no-team{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.no-team>button{
    width: 30%;

}
@media (min-width:451px) and (max-width:850px) {
    .no-team>button{
        width: 50%;
    }
    
}
@media (max-width:450px){
    .no-team>button{
        width: 70%;
    }
}